*{
   
    margin: auto;
    padding: 0;
}

.navbar{

    margin: auto;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin: auto;
}
.navbar ul li a{
    
    text-decoration: none;
    
}
.navbar ul li{
   
    list-style: none;
    display: inline-block;
    
}
content{
   /* padding-left: 500px;
    padding-top: 10px;
   
    position:absolute;
    top: 20%;
    font-size:20px;
    text-align: left;
    margin: 30px;*/
    margin-left: 400px;
}

.image{
    float: right;
}


.contentimage{
    
    margin: auto;
   /* padding-left: 400px; */
   position: relative;
    display: flex; 
    
   justify-content: space-between;
}


.head1{
    
    text-align: center;
   /* padding-left: 100px;*/
}


.headings{
    margin: auto;
   padding-top: 30px;
    text-align: center;
    display:grid;
    grid-row-gap: 20px;
    
    grid-template-columns: auto auto auto;
    }

.button{
   background-color: red;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 110px;
    position: relative;
    padding: 10px 16px;
}
.button1{

    border-color: skyblue;
    color: skyblue;
    background-color: white;
    
}
ul li{
    display: inline-block;
    padding: 15px;
   
    
}
.para{
    padding-left: 110px;
}

}
.icon{
    text-align: center;
   
}
